body{
    background-image: url("./images/bg.jpg");
}

.container{
    background-color: rgb(228, 152, 208);
    width: 25%;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group{
    margin-bottom: 12px;
}

.form-group input, button{
    width: 100%;
    padding: 12px;
}
input{
    border: none;
    border-radius: 40px;
    outline: none;
}


.errors{
    background-color: rgb(227, 148, 148);
    color: rgb(86, 10, 10);
    margin-bottom: 12px;
    padding: 5px;
    border-radius: 10px;
}

#regbtn{
    width: 115%;
    background-color: dodgerblue;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 40px;
}

#regbtn:hover{
    cursor: pointer;
    background-color: rgb(244, 109, 181);
}

#loginbtn{
    width: 115%;
    background-color: greenyellow;
    font-size: 22px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 40px;
}

#loginbtn:hover{
    cursor: pointer;
    opacity: 0.7;
}

h2{
    background-color: rgb(131, 34, 188);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 33px;
    color: white;
}

#st{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.session{
    text-align: center;
    color: white;
    font-weight: 600;
}